.row {
    padding: 1rem 4%;
    color: #fff;

    &__title {
        font-size: 1.7rem;
        padding: 0.5rem;
    }

    .row__title {
        font-size: 1rem;
        margin-left: 2px;
        font-family: 'Roboto', sans-serif;
    }

    &__images {
        display: flex;
        align-items: center;
        overflow-y: hidden;
        overflow-x: visible;
        width: 100%;
        height: 100%;
        padding: 0.5rem 0;

        .row__image {
            width: 300px;
            padding: 0.5rem;
            transition: transform 0.3s ease-in;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        background-color: rgb(31, 29, 29);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(186, 39, 39, 0.7);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }

}